<footer class="footer">
  <span class="todo-count">{{items.length}} todo{{if morethanOne 's'}}</span>
  <button class="clear-completed" onclick={{action 'clearCompleted'}}>Clear completed</button>
</footer>